@import 'tailwindcss';
@theme {
  --color-canvas: #0b0f19;
  --color-surface: #161b26;
  --color-accent: #00f5d4;
  --color-accent-hover: #00d1b5;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Plus Jakarta Sans', sans-serif;
}
